body {
	background-color: lightgray; 
}

div
{
	border: 1px solid chocolate;
}

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
    height: 70px;
    margin: 0 auto;	
}